* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    font-family: 'Sansita', sans-serif;
    background-color: #BFC0C0;
}

header {
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #EF8354;
}

.div_info {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #4F5D75;
}

.div_inset {
    width: 100%;
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #2D3142;
}

.p_info {
    text-align: justify;
    padding-bottom: 10px;
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
}