* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    font-family: 'Sansita', sans-serif;
    background-color: #D5D5D5;
}

header {
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #9099A2;
}

.div_info {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #6D7993;
}