* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

main {
    font-family: 'Sansita', sans-serif;
    background-color: #BFC0C0;
}

header {
    width: 100%;
    text-align: center;
    font-size: 32px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #EF8354;
}

#div_mobile_menu {
    display: none;
    opacity: 0;
    z-index: 3;
}

#animation_mobile_menu {
    display: none;
    content: "";
    width: 0;
    height: 0;
    background-color: #f1f1f1;
    position: fixed;
    right: 0;
    z-index: 3;
}

#animation_mobile_menu_out {
    display: none;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    right: 0;
    z-index: 3;
}

#nav_mobile_menu {
    display: none;
    z-index: 5;
}

#div_menu {
    position: sticky;
    position: -webkit-sticky;
    /* Safari */
    top: 0;
    z-index: 5;
}

#div_menu ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    width: 100%;
}

#div_menu li {
    float: left;
    width: 25%;
}

#div_menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#div_menu li a:hover {
    background-color: #111;
}

.div_info {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #4F5D75;
    min-width: 260px;
    overflow: auto;
}

.hash_jump::before {
    display: block;
    content: " ";
    margin-top: -61px;
    height: 61px;
    visibility: hidden;
    pointer-events: none;
}

#div_about_me_left {
    float: left;
    width: 30%;
}

#div_about_me_left_inside {
    background-color: #000;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#div_about_me_p {
    float: left;
    width: 70%;
}

.div_inset {
    width: 100%;
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #2D3142;
}

.p_info {
    text-align: left;
    padding-bottom: 10px;
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
}

.p_font_size_big {
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    width: 90%;
    margin: 0 auto;
}

.p_font_size_medium {
    font-size: 24px;
}

#div_umiejetnosci {
    padding-bottom: 16px;
}

#div_skills_box {
    min-height: 500px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

.div_skills {
    width: 260px;
    margin: 0 auto;
    display: table;
    border: 1px solid black;
    border-radius: 25px;
    flex: 0 0 auto;
    margin: 30px;
}

.div_skills_img {
    width: 50%;
    float: left;
    height: 128px;
}

.img_skills {
    height: 110px;
    margin-top: 9px;
}

.div_skills_p {
    width: 50%;
    float: left;
    text-align: center;
    overflow: auto;
    margin-top: 10px;
}

.span_skills_title {
    font-size: 24px;
}

.span_skills {
    font-size: 16px;
}

#link_projects,
#link_contact {
    padding-top: 20px;
}

#div_slider {
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 10px;
}

#slider_main {
    width: 100%;
    height: 760px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    text-align: center;
}

.slider_images {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    display: none;
    transition: opacity 0.3s linear;
}

.slider_images_clicked {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    display: none;
}

.slider_images_hidden {
    opacity: 0;
}

.slider_click_top {
    position: absolute;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 420px;
    height: 25%;
    max-width: 420px;
    min-width: 260px;
    display: none;
}

.slider_click_bottom {
    position: absolute;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 420px;
    height: 25%;
    max-width: 420px;
    min-width: 260px;
    display: none;
}

#slider_control_prev,
#slider_control_next {
    position: absolute;
    top: 40%;
    z-index: 2;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background-color: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
}

#slider_control_prev:hover,
#slider_control_next:hover {
    opacity: 1;
    background-color: #3d3d3d;
}

#slider_control_prev {
    border-radius: 0 2px 2px 0;
}

#slider_control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

#div_contact {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 10px;
}

#div_contact_left {
    width: 44%;
    float: left;
    padding: 2%;
    margin-right: 2%;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 24px;
}

#div_contact_right {
    width: 44%;
    float: left;
    padding: 2%;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 24px;
}

.p_indent {
    margin-left: 16px;
    font-size: 20px;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #EF8354;
    margin-top: 20px;
}

.p_neon {
    color: #fff;
    font-family: 'Dosis', Calibri, sans-serif;
    font-weight: 200;
    font-size: 45px;
    text-align: center;
}

.p_neon_first {
    text-shadow: 0px 0px 3px #9D00FF, 0px 0px 6px #9D00FF, 0px 0px 9px #9D00FF, 0px 0px 12px #9D00FF, 0px 0px 15px #9D00FF, 0px 0px 18px #9D00FF;
    margin-top: 20px;
}

.p_neon_second {
    text-shadow: 0px 0px 3px #33FF00, 0px 0px 6px #33FF00, 0px 0px 9px #33FF00, 0px 0px 12px #33FF00, 0px 0px 15px #33FF00, 0px 0px 18px #33FF00;
    margin-left: 20px;
}

.neon_flickering-1 {
    animation: flickering-1 4s infinite;
}

.neon_flickering-2 {
    animation: flickering-2 3s infinite;
}

@keyframes flickering-1 {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flickering-2 {
    0% {
        opacity: 1;
    }
    31% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    36% {
        opacity: 1;
    }
    72% {
        opacity: 1;
    }
    76% {
        opacity: 0;
    }
    77% {
        opacity: 1;
    }
    82% {
        opacity: 1;
    }
    86% {
        opacity: 0;
    }
    87% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 760px) {
    header {
        text-align: left;
        font-size: 32px;
        width: 90%;
        padding-left: 10%;
    }
    #nav_mobile_menu {
        display: block;
        position: fixed;
        top: 5px;
        right: 5px;
    }
    #mobile_menu_title_div {
        width: 100%;
    }
    #mobile_menu_title_span {
        width: 80%;
        font-size: 32px;
        float: left;
        background-color: #EF8354;
        height: 64px;
        text-align: center;
        vertical-align: middle;
        line-height: 64px;
    }
    #mobile_menu_img_close {
        width: 20%;
        float: left;
        background-color: #EF8354;
        height: 64px;
    }
    #nav_mobile_center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #div_mobile_menu {
        position: fixed;
        width: 100%;
        height: 100%;
    }
    #div_mobile_menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #f1f1f1;
        text-align: center;
    }
    #div_mobile_menu li a {
        display: block;
        color: #000;
        padding: 24px 16px;
        text-decoration: none;
        position: relative;
        font-size: 24px;
    }
    #div_mobile_menu li a::after {
        content: "";
        position: absolute;
        width: 80%;
        left: 10%;
        bottom: 10px;
        height: 2px;
        background: #d70039;
    }
    #div_mobile_menu_content {
        width: 100%;
        height: calc(100% - 64px);
    }
    #div_mobile_menu_left,
    #div_mobile_menu_right {
        width: 15%;
        height: 100%;
        background-image: linear-gradient(to right, gray, white);
        float: left;
    }
    #div_mobile_menu_right {
        background-image: linear-gradient(to left, gray, white);
    }
    #div_mobile_menu_center {
        width: 70%;
        height: 100%;
        background-color: #000;
        float: left;
    }
    #div_about_me_left {
        display: none;
    }
    #div_about_me_p {
        float: none;
        width: 100%;
    }
    .div_skills {
        margin: 10px 30px;
    }
    .p_info {
        font-size: 18px;
    }
    .p_font_size_big {
        font-size: 26px;
    }
    .p_font_size_medium {
        font-size: 20px;
    }
    #div_menu {
        display: none;
    }
    .hash_jump::before {
        display: none;
    }
    #slider_main {
        height: 520px;
    }
    .slider_click_top {
        width: 40%;
    }
    .slider_click_bottom {
        width: 40%;
    }
    #div_contact_left {
        width: 93%;
        padding: 3%;
        margin-right: 4%;
        border: 1px solid black;
        border-radius: 25px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    #div_contact_right {
        width: 93%;
        padding: 3%;
        border: 1px solid black;
        border-radius: 25px;
        font-size: 18px;
        margin: 0 auto;
    }
    .p_indent {
        margin-left: 10px;
        font-size: 16px;
    }
    footer {
        font-size: 14px;
    }
}